<main class="max-w-6xl mx-auto p-4">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6"
  >
    <div
      *ngFor="let p of pokemons"
      class="rounded-2xl border-4 shadow-md p-4 text-center bg-white transition-transform hover:scale-105 cursor-pointer"
      [ngStyle]="{ 'border-color': getTypeColor(p.types[0]) }"
      (click)="onCardClick(p)"
    >
      <img [src]="p.image" [alt]="p.name" class="mx-auto w-24 h-24" />

      <p class="text-sm text-gray-500 tracking-wider">
        #{{ (p.id + "").padStart(3, "0") }}
      </p>

      <h2 class="text-xl font-semibold mt-2 capitalize">{{ p.name }}</h2>

      <div class="flex gap-1 justify-center mt-2">
        @for (type of p.types; track $index) {
        <div class="text-center mb-2">
          <span
            class="inline-block px-3 py-1 text-sm text-white rounded-full"
            [ngStyle]="{
              'background-color': getTypeColor(type)
            }"
          >
            {{ type | titlecase }}
          </span>
        </div>
        }
      </div>

      <p class="text-sm mt-2">Weight: {{ p.weight / 10 }} kg</p>
      <p class="text-sm">Height: {{ p.height / 10 }} m</p>
    </div>
  </div>
</main>
